<footer>
	<div class="container">
		<div class="row">
			<div class="col-md">
				<img src="images/logo-alt.png" id="logo">
				<p>EasyAudit delivers environment through which high-quality firms from diverse backgrounds can work together toward their own common goals.</p>
			</div>
			<div class="col-md bottom-row">
				<h1>Quick Links</h1>
				<ul>
					<li>
						<a href="#">Quick Link 1</a>
					</li>
					<li>
						<a href="#">Quick Link 2</a>
					</li>
					<li>
						<a href="#">Quick Link 3</a>
					</li>
					<li>
						<a href="#">Quick Link 4</a>
					</li>
					<li>
						<a href="#">Quick Link 5</a>
					</li>
				</ul>
			</div>
			<div class="col-md bottom-row">
				<h1>Social Media</h1>
				<ul>
					<li>
						<a href="#">Facebook</a>
					</li>
					<li>
						<a href="#">YouTube</a>
					</li>
					<li>
						<a href="#">Instagram</a>
					</li>
					<li>
						<a href="#">Twitter</a>
					</li>
				</ul>
			</div>
			<div class="col-md bottom-row">
				<h1>Resources</h1>
				<ul>
					<li>
						<a href="#">Resource 1</a>
					</li>
					<li>
						<a href="#">Resource 2</a>
					</li>
					<li>
						<a href="#">Resource 3</a>
					</li>
					<li>
						<a href="#">Resource 4</a>
					</li>
					<li>
						<a href="#">Resource 5</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>