<footer>
	<div class="container">
		<div class="row">
			<div class="col-md">
				<img src="images/logo.png" id="logo">
				<p>EasyAudit delivers environment through which high-quality firms from diverse backgrounds can work together toward their own common goals.</p>
				<a href="#">Free Consultation</a>
			</div>
			<div class="col-md">
				<h1>Quick Links</h1>
			</div>
			<div class="col-md">
				<h1>Social Media</h1>
			</div>
			<div class="col-md">
				<h1>Resources</h1>
			</div>
		</div>
	</div>
</footer>