<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link rel="stylesheet" href="font/css/fontello.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
	<nav>
		<div id="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-5"><p>1234 Richmond Street, London ON, Canada</p></div>
					<div class="col-md-4"><p>Mon-Sat: 9:00am-6:00pm. Sunday Closed.</p></div>
					<div class="col-md-3"><p>+1 (519) 123-4567</p></div>
				</div>
			</div>
		</div>

		<div id="header-main" class="navbar-light bg-light">
			<div class="navbar navbar-expand-md container">
				<img src="images/logo2.png" id="logo">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
					  <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
					  <a class="nav-item nav-link" href="#">Features</a>
					  <a class="nav-item nav-link" href="#">Pricing</a>
					  <a class="nav-item nav-link disabled" href="#">Disabled</a>
					</div>
				</div>
			</div>
		</div>
	</nav>