<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link type="text/css" rel="stylesheet" href="/font/css/fontello.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
	<nav>
		<div id="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-5"><p>1234 Richmond Street, London ON, Canada</p></div>
					<div class="col-md-4"><p>Mon-Sat: 9:00am-6:00pm. Sunday Closed.</p></div>
					<div class="col-md-3"><p>+1 (519) 123-4567</p></div>
				</div>
			</div>
		</div>

		<div id="header-main" class="navbar-light bg-light">
			<div class="navbar navbar-expand-md container">
				<img src="../images/logo2.png" id="logo">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
					  <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
					  <a class="nav-item nav-link" href="#">Features</a>
					  <a class="nav-item nav-link" href="#">Pricing</a>
					  <a class="nav-item nav-link disabled" href="#">Disabled</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</head>

<body>

<div class="container-fluid" id='sub-temp'>
	<div class="container">
		<h1><%= subpage %></h1>
		<hr>
		<p><%= text %></p>
		<a href="/"><button class="btn btn-primary">Back Home</button></a>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md">
				<img src="../images/logo-alt.png" id="logo">
				<p>EasyAudit delivers environment through which high-quality firms from diverse backgrounds can work together toward their own common goals.</p>
			</div>
			<div class="col-md bottom-row">
				<h1>Quick Links</h1>
				<ul>
					<li>
						<a href="#">Quick Link 1</a>
					</li>
					<li>
						<a href="#">Quick Link 2</a>
					</li>
					<li>
						<a href="#">Quick Link 3</a>
					</li>
					<li>
						<a href="#">Quick Link 4</a>
					</li>
					<li>
						<a href="#">Quick Link 5</a>
					</li>
				</ul>
			</div>
			<div class="col-md bottom-row">
				<h1>Social Media</h1>
				<ul>
					<li>
						<a href="#">Facebook</a>
					</li>
					<li>
						<a href="#">YouTube</a>
					</li>
					<li>
						<a href="#">Instagram</a>
					</li>
					<li>
						<a href="#">Twitter</a>
					</li>
				</ul>
			</div>
			<div class="col-md bottom-row">
				<h1>Resources</h1>
				<ul>
					<li>
						<a href="#">Resource 1</a>
					</li>
					<li>
						<a href="#">Resource 2</a>
					</li>
					<li>
						<a href="#">Resource 3</a>
					</li>
					<li>
						<a href="#">Resource 4</a>
					</li>
					<li>
						<a href="#">Resource 5</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</body>
</html>